# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [16]:
# Import the necessary libraries and CSVs. Make some dataframes!

import pandas as pd

baltimore = pd.read_csv('/Users/fatima/Desktop/LaunchCode/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/baltimore_9-24-2016_9-30-2017.csv')
boston = pd.read_csv('/Users/fatima/Desktop/LaunchCode/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/boston_9-24-2016_9-30-2017.csv')
new_york = pd.read_csv('/Users/fatima/Desktop/LaunchCode/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/new-york_9-24-2016_9-30-2017.csv')
philly = pd.read_csv('/Users/fatima/Desktop/LaunchCode/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/philadelphia_9-24-2016_9-30-2017.csv')

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [19]:
# Clean your data here!

#Cleaned data below after combining data.

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [20]:
# Combine the four dataframes into one!

df = pd.concat([baltimore, boston, new_york, philly], axis=0)

df

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,11/05/2016,16,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
53,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,08/26/2017,18,20.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
54,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/16/2017,16,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
55,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/23/2017,15,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
56,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/30/2017,15,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 674 entries, 0 to 56
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   674 non-null    object
 1   City Name        674 non-null    object
 2   Type             0 non-null      float64
 3   Package          674 non-null    object
 4   Variety          672 non-null    object
 5   Sub Variety      83 non-null     object
 6   Grade            0 non-null      float64
 7   Date             674 non-null    object
 8   Low Price        674 non-null    int64
 9   High Price       674 non-null    float64
 10  Mostly Low       674 non-null    int64
 11  Mostly High      674 non-null    float64
 12  Origin           669 non-null    object
 13  Origin District  81 non-null     object
 14  Item Size        625 non-null    object
 15  Color            356 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     106 non-null    object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           674 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(11), int64(2), object(12)
memory usage: 136.9+ KB

In [22]:
df.drop(columns=['Type','Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'])

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
53,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,NaN,SHELLACKED,N
54,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
55,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
56,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,NaN,SHELLACKED,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [28]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

df.value_counts('Unit of Sale')

low_price_mean = df.groupby(['Package'])['Low Price'].mean()

low_price_mean

Package
1 1/9 bushel cartons     15.875000
1 1/9 bushel crates      16.058824
1/2 bushel cartons       16.030928
24 inch bins            188.005618
36 inch bins            170.458861
50 lb sacks              25.111111
bushel cartons           20.571429
each                     75.000000
Name: Low Price, dtype: float64

In [29]:
high_price_mean = df.groupby(['Package'])['High Price'].mean()

high_price_mean

Package
1 1/9 bushel cartons     16.739583
1 1/9 bushel crates      16.705882
1/2 bushel cartons       17.597938
24 inch bins            202.808989
36 inch bins            196.550633
50 lb sacks              25.333333
bushel cartons           22.857143
each                     80.000000
Name: High Price, dtype: float64

In [ ]:
df.value_counts('Variety')

In [50]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

terminal_variety = df.groupby(['City Name','Variety'])['Variety'].count()

terminal_variety

#Unable to find average with dataset. Data below shows count of variety recieved for each City.

City Name     Variety
BALTIMORE     BIG MACK TYPE                24
              CINDERELLA                   25
              FAIRYTALE                    16
              HOWDEN TYPE                  25
              HOWDEN WHITE TYPE             2
              MINIATURE                    30
              MIXED HEIRLOOM VARIETIES      3
              PIE TYPE                     26
BOSTON        BIG MACK TYPE                29
              BLUE TYPE                     7
              CINDERELLA                   14
              FAIRYTALE                    21
              HOWDEN TYPE                 132
              KNUCKLE HEAD                  7
              MINIATURE                    28
              PIE TYPE                    114
NEW YORK      BIG MACK TYPE                 2
              HOWDEN TYPE                  39
              KNUCKLE HEAD                  1
              MINIATURE                    27
              MIXED HEIRLOOM VARIETIES      1
              PIE TYPE                     42
PHILADELPHIA  HOWDEN TYPE                  28
              KNUCKLE HEAD                  1
              MINIATURE                    12
              PIE TYPE                     16
Name: Variety, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!